// Colors
$main-white: #ffffff;
$main-black: #000000;
$main-grey: #1F2937;
$description-grey: #9ca3af;
$main-green: #5FD788;
$footer-color:#F3F4F6;

// Breakpoints
$desktop-I: 1440px;
$desktop: 1200px;
$extra-tablet: 992px;
$tablet: 768px;
$mobile: 576px;